  :root {
    --cards: 10;
    --cardHeight: 55vh;
    --cardTopPadding: 0.25em;
    --cardMargin: 12vw;
  }

  .kemasan-portofolio {
    width: 50%;
    margin: 0 auto;
    padding-top: 0px; 
    padding-bottom: 0px; 
    padding-left: 20px; 
    padding-right: 40px;
  }

  #cards {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--cards), var(--cardHeight));
    gap: var(--cardMargin);
    padding-bottom: calc(var(--cards) * var(--cardTopPadding));
    margin-bottom: var(--cardMargin);
  }

  .card {
    position: sticky;
    top: 0;
    padding-top: calc(var(--index) * var(--cardTopPadding));
  }

  .card-body {
    box-shadow: var(--shadow-box-autobiografi-light);
    transition: box-shadow var(--transition);
    box-sizing: border-box;
    padding: 0;
    border-radius: 50px;
    height: var(--cardHeight);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }
  :root[data-theme="dark"] .card-body {
    box-shadow: var(--shadow-box-autobiografi-dark);
  }

  .overlay {
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  }

  #card1 {
    --index: 1;
  }
  #card2 {
    --index: 2;
  }
  #card3 {
    --index: 3;
  }
  #card4 {
    --index: 4;
  }
  #card5 {
    --index: 5;
  }
  #card6 {
    --index: 6;
  }
  #card7 {
    --index: 7;
  }
  #card8 {
    --index: 8;
  }
  #card9 {
    --index: 9;
  }
  #card10 {
    --index: 10;
  }

  #card1 .card-body {
    background-image: url('../images/autobiografi/1.jpg');
    background-position: top center;
  }

  #card2 .card-body {
    background-image: url('../images/autobiografi/2.jpg');
    background-position: center;
  }

  #card3 .card-body {
    background-image: url('../images/autobiografi/3.jpg');
    background-position: top center;
  }

  #card4 .card-body {
    background-image: url('../images/autobiografi/4.jpg');
    background-position: top center;
  }

  #card5 .card-body {
    background-image: url('../images/autobiografi/5.jpg');
    background-position: top center;
  }

  #card6 .card-body {
    background-image: url('../images/autobiografi/6.jpg');
    background-position: center;
  }

  #card7 .card-body {
    background-image: url('../images/autobiografi/7.jpg');
    background-position: center;
  }

  #card8 .card-body {
    background-image: url('../images/autobiografi/8.jpg');
    background-position: center;
  }

  #card9 .card-body {
    background-image: url('../images/autobiografi/9.jpg');
    background-position: center;
  }

  #card10 .card-body {
    background-image: url('../images/autobiografi/10.jpg');
    background-position: top center;
  }

  .overlay-portofolio {
    color: var(--text-trigger-dark);
    background: var(--bg-light);
    transition: color var(--transition), background var(--transition);
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 5em;
    overflow: hidden;
    backdrop-filter: blur(8px);
    padding: 1em;
    border-radius: 0 0 50px 50px;
    transition: max-height 0.5s ease, padding 0.5s ease, border-radius 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center; /* center secara vertikal */
    align-items: center;
    text-align: center;
  }
  :root[data-theme="dark"] .overlay-portofolio {
    color: var(--text-trigger-light);
    background: var(--bg-dark);
  }
  
  .overlay-portofolio .singkat {
    font-size: 1.3em;
    font-weight: bold;
    pointer-events: none; /* supaya tidak ikut klik */
  }
  
  .overlay-portofolio .lengkap {
    display: none;
    margin-top: 0.5em;
    font-size: 1.2em;
  }
  
  .overlay-portofolio.active {
    max-height: 100%;
    padding: 2em;
    border-radius: 50px 50px 0 0; /* atas rounded saat aktif */
    justify-content: flex-start; /* konten naik ke atas */
  }
  
  .overlay-portofolio.active .lengkap {
    display: block;
  }

  /* Overlay redup */
  .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1; /* di bawah tombol */
  }
  .overlay.show {
    opacity: 1;
    pointer-events: auto;
  }

  /* Tombol Alert */
  #helpBtn {
    position: fixed;
    left: 20px;
    bottom: 100px; /* jarak awal dari bawah */
    width: 60px;
    height: 60px;
    background: rgba(128, 128, 128, 0.3);
    backdrop-filter: blur(3px);
    border: 2px solid #8a8a8a;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    clip-path: circle(50% at 50% 50%);
    
    /* posisi awal: no translate, normal size */
    transform: translate(0, 0) scale(1);
  
    transition:
      width 0.5s ease-in-out,
      height 0.5s ease-in-out,
      border-radius 0.5s ease-in-out,
      padding 0.5s ease-in-out,
      background 0.3s ease-in-out,
      clip-path 0.5s ease-in-out,
      transform 0.5s ease-in-out;
  }
  
  #helpBtn.open {
    width: 300px;
    height: 100px;
    padding: 15px 20px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    border: 2px solid #8a8a8a;
    border-radius: 30px;
  
    /* pindah ke tengah + sedikit scale */
    transform: translate(
      calc(50vw - 20px - 50%),  /* dari posisi awal ke tengah horizontal */
      calc(-50vh + 100px + 50%) /* dari posisi awal ke tengah vertical */
    ) scale(1.1);
  
    clip-path: inset(0);
  }

  .question-btn {
    width: 50px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 100px;
    left: 20px;
    z-index: 2;
    color: white;
    font-weight: bold;
    
    transition:
      bottom 0.4s ease,
      left 0.4s ease,
      width 0.4s ease,
      height 0.4s ease,
      border-radius 0.4s ease,
      padding 0.4s ease,
      transform 0.4s ease,
      background 0.3s ease,
      clip-path 0.4s ease;
      
    outline: none;
    -webkit-tap-highlight-color: transparent;

    /* area klik pas bunder */
    clip-path: circle(50% at 50% 50%);
  }
  
  .question-btn:focus {
    font-family: "Times New Roman", Times, serif;
    outline: none;
  }

  /* Saat open → ke tengah & membesar */
  .question-btn.open {
    width: 300px;
    height: auto;
    padding: 15px 20px;
    border: 2px solid #8a8a8a;
    border-radius: 15px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%) scale(1.05);

    /* area klik jadi kotak penuh */
    clip-path: inset(0);
  }

  /* Hilangkan tanda tanya saat open */
  .question-btn.open .icon-jari {
    display: none;
  }

  .icon-jari img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  /* Teks popup */
  .popup-text {
    display: inline-block;
    opacity: 0;
    transform: scale(0.5);
    transform-origin: left center;
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
  }

  /* Saat open → teks muncul setelah zoom selesai */
  .question-btn.open .popup-text {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.4s; /* nunggu tombol selesai membesar */
  }

  /* Saat nutup → langsung nyusut */
  .question-btn:not(.open) .popup-text {
    transition-delay: -1s;
  }

/* Responsive Typography dan Layout */
@media (max-width: 768px) {
    :root {
    --cards: 10;
    --cardHeight: 43.5vh;
    --cardTopPadding: 1.5em;
    --cardMargin: 2vw;
  }
    .kemasan-portofolio {
    width: 100%;
    margin: 0 auto;
    padding-top: 0px; 
    padding-bottom: 0px; 
    padding-left: 20px; 
    padding-right: 20px;
  }
    .overlay-portofolio {
    max-height: 6em;
    padding: 1em;
  }
  .overlay-portofolio .singkat {
    font-size: 1.2em;
  }
  .overlay-portofolio .lengkap {
    margin-top: 1em;
    font-size: 1em;
  }
  .overlay-portofolio.active {
    max-height: 100%;
    padding: 2em;
    border-radius: 50px 50px 0 0; /* atas rounded saat aktif */
    justify-content: flex-start; /* konten naik ke atas */
  }
  
  #card1 .card-body {
    background-image: url('../images/autobiografi/1.jpg');
    background-position: center;
  }

  #card2 .card-body {
    background-image: url('../images/autobiografi/2.jpg');
    background-position: center;
  }

  #card3 .card-body {
    background-image: url('../images/autobiografi/3.jpg');
    background-position: center;
  }

  #card4 .card-body {
    background-image: url('../images/autobiografi/4.jpg');
    background-position: center;
  }

  #card5 .card-body {
    background-image: url('../images/autobiografi/5.jpg');
    background-position: center;
  }

  #card6 .card-body {
    background-image: url('../images/autobiografi/6.jpg');
    background-position: center;
  }

  #card7 .card-body {
    background-image: url('../images/autobiografi/7.jpg');
    background-position: center;
  }

  #card8 .card-body {
    background-image: url('../images/autobiografi/8.jpg');
    background-position: center;
  }

  #card9 .card-body {
    background-image: url('../images/autobiografi/9.jpg');
    background-position: center;
  }

  #card10 .card-body {
    background-image: url('../images/autobiografi/10.jpg');
    background-position: center;
    }
    
  #helpBtn {
    width: 50px;
    height: 50px;
  }
    
  .question-btn {
    font-size: 1rem;
  }
}
