    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    main {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 15px;
      padding-bottom: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    .content {
      background-color: rgba(255, 255, 255, 0.6); /* putih transparan */
      backdrop-filter: blur(2px);
      padding: 15px;
      border-radius: 15px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.2);
      text-align: left;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
    
    .content a {
      color: blue;
      font-size: 18px;
      word-break: break-all;
    }

    .container {
      display: flex;
      max-width: 100%;
      margin: auto;
      background-color: rgba(255, 255, 255, 0.7); /* putih transparan */
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 6px 9px rgba(0, 0, 0, 0.3);
    }

    .sidebar {
      background-color: #2c2c2c;
      color: white;
      font-family: "Times New Roman", Times, serif;
      padding: 20px;
      width: 30%;
      border-radius: 15px;
      box-shadow: 0 6px 9px rgba(0, 0, 0, 0.3);
    }

    .profile-img {
      width: 100%;
      border-radius: 50%;
      border: 5px solid #bfbfbfbf;
      box-shadow:
        0 0 2px red,
        0 0 6px green,
        0 0 10px cyan;
      object-fit: cover;
      animation: rgbGlow 4s infinite linear;
    }

    @keyframes rgbGlow {
      0%   { box-shadow: 0 0 2px cyan, 0 0 5px green, 0 0 8px blue; }
      25%  { box-shadow: 0 0 4px green, 0 0 7px blue, 0 0 10px red; }
      50%  { box-shadow: 0 0 6px cyan, 0 0 9px red, 0 0 12px green; }
      75%  { box-shadow: 0 0 4px red, 0 0 7px green, 0 0 10px blue; }
      100% { box-shadow: 0 0 2px cyan, 0 0 5px green, 0 0 8px blue; }
    }

    .sidebar h2 {
      border-bottom: 2px solid #adadadad;
      padding-bottom: 5px;
      margin-top: 20px;
    }

    .sidebar a {
      color: #8fd3ff;
      text-decoration: none;
    }

    .mainisi {
      padding: 10px;
      width: 70%;
      font-family: "Times New Roman", Times, serif;
    }

    .mainisi h1 {
      margin: 0;
    }

    .mainisi h3 {
      margin-top: 5px;
      color: gray;
    }

    section {
      margin-top: 10px;
    }

    section h2 {
      border-bottom: 2px solid #ccc;
      padding-bottom: 5px;
      text-align: justify;
    }

    ul {
      margin-left: 20px;
      margin-top: 10px;
    }

    li {
      margin-bottom: 8px;
    }

    .judul-container {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    
    .circle-wrapper {
      width: 35px;
      height: 35px;
      margin-top: 20px;
      background-color: #5c5c5c;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); /* efek glow tipis */
    }
    
    .circle-img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
    }

    .skill {
      padding-bottom: 0px;
      margin-top: 10px;
    }

    .skill-title {
      margin-bottom: 2px;
      font-weight: none;
    }

    .progress-container {
      background: #5c5c5c;
      border-radius: 8px;
      overflow: hidden;
      height: 8px;
      position: relative;
    }

    .progress-bar {
      height: 100%;
      text-align: right;
      padding-right: 0.5rem;
      color: #fff;
      font-size: 0.8rem;
      line-height: 10px;
      border-radius: 10px;
      width: 0;
      transition: width 2s ease-in-out;
      position: relative;
    }

    .progress-bar[data-skill="autocad"] { background: #ffff; }
    .progress-bar[data-skill="inventor"]   { background: #ffff; }
    .progress-bar[data-skill="fusion-360"]   { background: #ffff; }
    .progress-bar[data-skill="UG-NX7"]   { background: #ffff; }
    .progress-bar[data-skill="word"]   { background: #ffff; }
    .progress-bar[data-skill="exel"]   { background: #ffff; }
    .progress-bar[data-skill="ppt"]   { background: #ffff; }
    .progress-bar[data-skill="indonesia"]   { background: #ffff; }
    .progress-bar[data-skill="inggris"]   { background: #ffff; }
    .progress-bar[data-skill="leadership"]   { background: #ffff; }
    .progress-bar[data-skill="team-work"]   { background: #ffff; }
    .progress-bar[data-skill="mechanical"]   { background: #ffff; }
    .progress-bar[data-skill="electrical"]   { background: #ffff; }

    /* Firework Particle */
    .particle {
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: white;
      opacity: 1;
      animation: explode 0.6s ease-out forwards;
      pointer-events: none;
    }

    @keyframes explode {
      to {
        transform: translate(var(--x), var(--y)) scale(1.5);
        opacity: 0;
      }
      }
    .timeline {
        position: relative;
        margin-left: 20px;   /* ruang di kiri teks */
        padding-left: 20px;  /* ruang supaya teks ora kena garis */
        border-left: 2px solid gray;
        list-style: none;    /* mateni bullet bawaan <ul> */
      }
    .timeline > li {       /* hanya blok pengalaman */
        position: relative;
        margin-bottom: 24px; /* jarak antar pengalaman */
      }
    .timeline > li::before {
        content:'';
        position:absolute;
        left:-31.3px;          /* sejajar garis (28px – 20px) */
        top:-0.5px;            /* sejajar baris pertama */
        width:15px;height:15px;
        background:gray;
        border-radius:50%;
        border:3px solid black;
      }
    
    /* LIST PENJELASAN DENGAN ANGKA */
    .inner{
        list-style:decimal;       /* 1. 2. 3. */
        padding-left:20px;        /* jarak angka–teks */
        margin-top:6px;
      }
    .inner li{margin-bottom:6px;}

    .slider-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
    }

    .circle-image {
      position: absolute;       /* Biar bebas dari flow elemen */
      top: 83px;               /* Geser ke atas (bisa negatif) */
      right: -1px;                /* Tengah horizontal */
      transform: translateX(-50%); /* Biar center pas */
      width: 90px;             /* Atur ukuran bebas */
      height: auto;
      z-index: 4;               /* Lebih tinggi dari .inverse-circle */
      pointer-events: none;     /* Biar nggak ganggu klik */
    }

    .slider-bg {
      position: relative;
      background-color: #111;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
      border-radius: 60px;
      padding: 20px 25px;
      width: fit-content;
      overflow: visible;
      color: white;
      isolation: isolate;
    }
  
    .judul, .deskripsi {
      text-align: center;
      margin: 0;
      position: relative;
      z-index: 2;
      font-weight: bold;
    }
  
    .judul {
      font-family: 'Anton', sans-serif;
      font-size: 24px;
      color: #fff;
      letter-spacing: 2px;
       text-transform: uppercase;
    }
  
    .deskripsi {
      color: #fff;
      font-size: 14px;
      font-weight: normal;
      padding-top: 5px;
    }
  
    .inverse-circle {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      background: white;
      mix-blend-mode: difference;
      animation: slideX 7s ease-in-out infinite alternate;
      z-index: 3;
      pointer-events: none;
    }
  
    @keyframes slideX {
      0% { left: 0%; }
      100% { left: calc(100% - 100px); }
    }

    .download-btn {
      position: fixed;
      bottom: 100px;   /* jarak dari bawah */
      left: 20px;      /* jarak dari kiri */
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: rgba(128, 128, 128, 0.3);
      backdrop-filter: blur(3px);
      border: 2px solid #8a8a8a;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      z-index: 1;
      animation: rgbGlow 4s infinite linear;
    }
    
    @keyframes rgbGlow {
      0%   { box-shadow: 0 0 2px cyan, 0 0 5px green, 0 0 8px blue; }
      25%  { box-shadow: 0 0 4px green, 0 0 7px blue, 0 0 10px red; }
      50%  { box-shadow: 0 0 6px cyan, 0 0 9px red, 0 0 12px green; }
      75%  { box-shadow: 0 0 4px red, 0 0 7px green, 0 0 10px blue; }
      100% { box-shadow: 0 0 2px cyan, 0 0 5px green, 0 0 8px blue; }
    }
    
    /* Icon di dalam tombol */
    .download-btn img {
      width: 32px;
      height: 32px;
      border-radius: 10px;
      pointer-events: none;
      transition: transform 0.4s ease; /* biar bisa ikut animasi */
    }
    
    /* Hover efek biar cakep */
    .download-btn:hover img {
      transform: scale(1.0);
    }
    
    /* Animasi klik (zoom in - zoom out) */
    .download-btn:active img {
      transform: scale(0.5);
    }

    .swal2-popup {
      border: 2px solid transparent;
      border-radius: 20px;
      background: white;
      box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px grey;
    }

    .swal2-container {
      backdrop-filter: blur(8px);   /* tingkat blur */
      -webkit-backdrop-filter: blur(8px); /* safari */
    }

    /* RESPONSIF UNTUK LAYAR KECIL */
    @media (max-width: 768px) {
      .container {
        flex-direction: column;
        border-radius: 15px;
      }

      .sidebar {
        width: 100%;
        border-radius: 15px 15px 0 0;
      }

      .mainisi {
        width: 100%;
        border-radius: 0 0 15px 15px;
      }

      .profile-img {
        width: 200px;
        height: 200px;
        margin-top: 20px;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }

      .mainisi h1 {
        text-align: center;
      }
      
      .mainisi h3, section {
        text-align: left;
      }

      ul {
        margin-left: 0;
        padding-left: 20px;
        text-align: left;
      }
      
       .download-btn {
         width: 50px;
         height: 50px;
       }
    }
